<html>
  <head>
    <title>URL image searcher</title>
    <meta name="description" content="Free Code Camp: URL Shortener Microservice">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Free Code Camp: URL Shortener Microservice
      </h1>
    </header>

    <main>
      <p class="bold">Hi there,</p>
      <h3>
        Example image searcher:(use /conv resource)<br><br>
https://imagesearcher12214.glitch.me/imager/tastyfood?offset=2
      </h3>
  <br>
      
      <h3>
        
        Usage history:(use /finder resource)<br><br>
https://imagesearcher12214.glitch.me/finder
      </h3>
      
  
  
      
      
      <section class="dreams">
        <ul id="result">
        </ul>
      </section>
    </main>

    <footer>
     
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
